replicaCount: 2

image:
  # GitHub Actions will replace this with: ghcr.io/<owner>/<repo>
  repository: ghcr.io/OWNER/REPO
  tag: "dev"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
